*{
    font-family: sans-serif;

    /* padding: 10px 0 10px 0; */
}

#title{
    padding: 10px 0 10px 0;
    font-size: 30px;
}


#grid_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid_box{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    gap: 15px;
    background-color: black;

}


.grid{
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;
}    

#overlay_text{
    pointer-events: none;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    color: red;
}